name: Deploy To EC2

on:
  push:
    branches:
      - main


jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: ssh(원격 접속)로 EC2 접속하기
        uses: appleboy/ssh-action@v1.0.3

        env:
          APPLICATION_PROPERTIES: ${{ secrets.APPLICATION_PROPERTIES }}

        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIMARY_KEY }}
          envs: APPLICATION_PROPERTIES
          script_stop: true

          script: |
            cd /home/ubuntu/test-server
            git pull origin main
            echo "$APPLICATION_PROPERTIES" > src/main/resources/application.yaml
            ./mvnw clean package
            sudo fuser -k -n tcp 8080 || true
            nohup java -jar target/*SNAPSHOT.jar > ./output.log 2>&1 &
